.card--card,
.card--standard .card__inner {
    position: relative;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
}
.card--card:after,
.card--standard .card__inner:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
    rgba(var(--color-shadow), var(--shadow-opacity));
}
.card__content {
    padding: 1rem;
    width: 100%;
}
.card__media {
    margin: var(--image-padding);
    width: calc(100% - 2 * var(--image-padding));
}
.card__media a img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.card {
    text-decoration: none;
    text-align: var(--text-alignment);
}

.card__information {
    padding: 1.3rem 1rem;
}
.card-information {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media screen and (min-width: 750px) {
    .card__information {
        padding-bottom: 1.7rem;
        padding-top: 1.7rem;
    }
}