<style>
  .brand-logos {
    background-color: antiquewhite;
  }
.brand-logos .logo-container {
  overflow-x: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.brand-logos .logo-container h2,
.brand-logos .logo-container h3,
.brand-logos .logo-container p {
  text-align: center;
}

.brand-logos h2 {
  font-size: 32px;
  margin-bottom: 0px;
}

.brand-logos h3{
 font-size: 26px;
 margin: 10px 0;
}
  
.brand-logos p {
  font-size: 16px;
  font-weight: 500;
}

.brand-logos .centered-main {
 width: max-content;
  margin: 0 auto;
  margin-bottom: 26px;
}

.brand-logos .centered-link {
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
  background-color: #363535;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}
  
.brand-logos .logo-swiper-container {
  overflow: visible;
  position: relative;
  width: 100%; /* Ensure the swiper container takes the full width */
}
  
.brand-logos .swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

.brand-logos .swiper-slide img {
  border-radius: 5px;
  max-width: 120px;
  cursor: grab;
  height: 150px;
  object-fit: contain;
}

.brand-logos .swiper-slide img:active {
  cursor: grabbing;
}

.brand-logos .swiper-button-next,
.brand-logos .swiper-button-prev {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  padding: 20px;
}

.brand-logos .swiper-button-prev:after, .brand-logos .swiper-button-next:after {
  font-size: 20px;
}

.brand-logos .swiper-button-next {
  right: 10px;
}

.brand-logos .swiper-button-prev {
  left: 10px;
}

.brand-logos .swiper-wrapper {
  align-items: center;
  opacity: 1;
  transition-timing-function: linear;
}
  
.brand-logos .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos .logo-swiper-container  {
  margin: 40px 0;
}

@media screen and (min-width: 600px) {
  .brand-logos .logo-swiper-container {
    padding: 0 2rem; 
  }
}

@media screen and (min-width: 1200px) {
  .brand-logos .logo-swiper-container {
    padding: 0 4rem;
  }
}
</style>