.before-after-main .before-after-slider-start {
    padding: 38px 0 88px 0;
}

.before-after-main .before-after-slider {
    width: 100%;
    height: 100%;
}

.before-after-main .before-after-slider .before-after-slide .before-after-slide-inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 90px;
}

.before-after-main .right-content {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    flex: 0 0 494px;
    height: 522px;
}

.before-after-main .before-after-section .left-content {
    flex: 0 0 calc(100% - 584px);
}

.before-after-caption-above {
    margin-bottom: 15px;
}

.before-after-caption-above * {
    margin-top: 0;
    letter-spacing: 0;
}

.before-after-caption-above *:last-child {
    margin-bottom: 0;
}

.before-after-heading-above {
    max-width: 470px;
    margin-bottom: 15px;
}

.before-after-heading-above * {
    font-size: 34px;
    color: #252525;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
}

.before-after-heading-above *:last-child {
    margin-bottom: 0;
}

.btn-before-after {
    margin-top: 40px;
}

.before-after-main .swiper-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.before-after-main .before-after-section .left-content div {
    color: rgba(var(--color-text));
}

.before-after-main .before-after-section .left-content .before-after-shop-btn svg {
    padding: 10px;
    fill: rgba(var(--color-link));
}

.before-after-main .before-after-section .left-content .before-after-shop-btn:hover svg path {
    fill: rgba(var(--color-button)) !important;
}

.before-after-main .before-after-section .left-content .before-after-shop-btn.center {
    margin: auto;
}

.before-after-main .right-content .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.before-after-main .right-content .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.before-after-main .right-content .slider-image.after {
    z-index: 1;
}

.before-after-main .before-after-section.position-reverse {
    margin-right: 0 !important;
}

.before-after-main .right-content .before-after-slider-handle .before-after-drag-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 15px;
    width: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.before-after-main .right-content .before-after-slider-handle .before-after-drag-text span {
    text-transform: uppercase;
}

.before-after-main .swiper-button-next,
.before-after-main .swiper-button-prev {
    color: rgba(var(--color-text));
    display: block;
}

.before-after-main .right-content .slider-image .slider-image-text {
    position: absolute;
    background: rgba(var(--color-button), var(--alpha-button-background));
    color: rgb(var(--color-button-text));
    padding: 5px 10px;
    z-index: 4;
    border: 1px solid rgba(var(--color-button-border));
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.before-after-main .right-content .slider-image .before-text {
    left: 10px;
}

.before-after-main .right-content .slider-image .after-text {
    right: 10px;
}

.before-after-main .right-content .slider-image .text-bottom,
.before-after-main .right-content .slider-image .text-bottom {
    bottom: 10px;
}

.before-after-main .right-content .slider-image .text-top,
.before-after-main .right-content .slider-image .text-top {
    top: 10px;
}

.before-after-main .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0;
    border: 1px solid rgba(var(--color-text));
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
}

.before-after-main .before-after-section .left-content h5 {
    color: #B47B84;
    margin: 10px 0;
}

.before-after-main .slider-image svg {
    background: #eee;
    height: 100%;
    width: 100%;
}

.before-after-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: transparent;
    border-color: rgba(var(--color-button));
}

.before-after-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: '';
    width: 8px;
    height: 8px;
    background: rgba(var(--color-button));
    border-radius: 50%;
    position: absolute;
}

.left-content h2 strong {
    color: rgba(var(--color-button));
    font-weight: 400;
}

.before-after-main .swiper-pagination .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 86px;
}

@media (min-width: 1600px) {
    .before-after-heading-above {
        max-width: 650px;
    }
}

@media (min-width: 1400px) {
    .before-after-main.page-width {
        padding-left: 80px;
        padding-right: 80px;
    }
    .before-after-main .before-after-slider-start {
        margin-left: 113px;
        margin-right: 113px;
    }
    .before-after-caption-above * {
        line-height: 22px;
    }
    .before-after-heading-above * {
        line-height: 45px;
    }
}

@media (min-width: 990px) and (max-width: 1199px) {
    .before-after-main .before-after-section .left-content {
        flex: 0 0 calc(100% - 490px);
    }
    .before-after-main .right-content {
        flex: 0 0 400px;
        height: 422px;
    }
    .before-after-main .swiper-pagination .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 50px;
    }
}

@media (min-width: 990px) {
    .before-after-main .before-after-section .left-content {
        margin-top: -56px;
    }
}

@media (max-width: 989px) {
    .before-after-main .before-after-slider .before-after-slide .before-after-slide-inside {
        align-items: flex-start;
    }
    .before-after-main .before-after-slider .before-after-slide .before-after-slide-inside {
        flex-direction: column-reverse;
    }
    .before-after-main .before-after-section .left-content {
        flex: unset;
        max-width: 494px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }
    .before-after-main .right-content {
        flex: unset;
        width: 100%;
        height: 522px;
        max-width: 494px;
        margin: 0 auto;
    }
    .btn-before-after {
        margin-top: 25px;
    }
    .before-after-main .swiper-pagination .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0;
        position: relative;
        margin-top: 30px;
        justify-content: center;
    }
    .before-after-heading-above * {
        font-size: 32px;
    }
    .before-after-main .before-after-slider-start {
        padding: 38px 0;
    }
}

@media (max-width: 639px) {
    .before-after-main .right-content {
        height: 282px;
        max-width: 272px;
    }
    .before-after-heading-above * {
        font-size: 24px;
    }
}

@media (max-width: 425px) {
    .before-after-main .right-content img {
        height: 100%;
    }
}