.icon-with-text-main .icon-with-text-inner .title-wrapper.right {
  margin-bottom: 1.25rem;
}

.icon-with-text-main .icon-with-text-inner .content-wrapper.right  {
  margin-bottom: 1.25rem;
}

.icon-with-text-main .icon-with-text-inner .content-wrapper.right * {
  margin-top: 0;
}

.icon-with-text-main .icon-with-text-inner .content-wrapper.right *:last-child {
  margin-bottom: 0;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left {
  align-items: center;
  column-gap: 1.25rem;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title {
  margin-bottom: 0.438rem;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title * {
  color: #252525;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-text * {
  font-size: 1.125rem;
  line-height: 1.313rem;
  letter-spacing: 0;
  opacity: 0.8;
  margin-top: 0;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-text *:last-child {
  margin-bottom: 0;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image img {
  width: 100%;
  max-width: 3.938rem;
  object-fit: contain;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image.circle,
.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image.square {
  padding: 8px;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image.circle img,
.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image.square img {
  width: 2.1rem;
  height: 2.1rem;
}

@media (min-width: 1400px) {
  .icon-with-text-main .grid-boxes .grid__item {
    flex: 0 0 calc(25% - 1.875rem);
    width: calc(25% - 1.875rem);
  }
  .icon-with-text-main .grid-boxes {
    column-gap: 2.5rem;
  }
}

@media (max-width: 1023px) {
  .icon-with-text-main .grid-boxes .grid__item .icon_left .grid-text * {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 990px) and (max-width: 1399px) {
  .icon-with-text-main .grid-boxes {
    column-gap: 2.813rem;
  }
  .icon-with-text-main .grid-boxes .grid__item {
    flex: 0 0 calc(33.33% - 1.875rem);
    width: calc(33.33% - 1.875rem);
  }
}

@media (min-width: 990px) and (max-width: 1199px) {
  .icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image img {
    max-width: 2.813rem;
  }
  .icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 989px) {
  .icon-with-text-main .grid-boxes .grid__item .icon_left .grid-image img {
    max-width: 2.813rem;
  }
  .icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 769px) and (max-width: 989px) {
  .icon-with-text-main .grid-boxes {
    column-gap: 2.5rem;
  }
  .icon-with-text-main .grid-boxes .grid__item {
    flex: 0 0 calc(50% - 1.25rem);
  }
}

@media (min-width: 769px) {
  .icon-with-text-main .grid-boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.875rem;
  }
  .icon-with-text-main .grid-boxes .grid__item {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .icon-with-text-main .grid-boxes .grid__item .icon_left {
    justify-content: center;
  }
}

.icon-with-text-main .swiper-pagination {
  position: relative;
  bottom: unset;
  margin-top: 1.25rem;
}

.swiper-pagination .swiper-pagination-bullet {
  border: 1px solid rgba(var(--color-text));
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: rgba(var(--color-text));
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  background: rgba(var(--color-text));
}