.icon-with-text-main .grid-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}

.icon-with-text-main .grid-boxes .grid__item {
  flex: 0 0 calc(25% - 30px);
  width: calc(25% - 30px);
  max-width: 100%;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left {
  align-items: center;
  column-gap: 20px;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title {
  margin-bottom: 7px;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-title * {
  color: #252525;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-text * {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  margin-top: 0;
}

.icon-with-text-main .grid-boxes .grid__item .icon_left .grid-text *:last-child {
  margin-bottom: 0;
}