.list-menu--right {
  right: 0;
}
  
.list-menu--disclosure {
  position: absolute;
  width: 15rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}
  
.list-menu--disclosure:focus {
  outline: none;
}
  
.list-menu_item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
  
.list-menu_item--active:hover {
  text-decoration-thickness: 0.2rem;
}
  
.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.header_menu_list, .list-menu.list-menu--inline {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header_menu_list li {
  display: block;
  margin-bottom: 10px;
}

.left-side-icons {
  display: flex;
  gap: 20px;
  justify-content: end;
}

header.header.page-width {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary.header__menu-item.list-menu__item {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  cursor: pointer;
  position: relative;
  color: black;
}

.header__menu-item.list-menu__item svg.icon-caret {
  position: relative;
}

.header_submenu.menu_list {
  padding: 1rem;
  border: 1px solid black;
  margin-top: 10px;
}

details[open]>.header__menu-item .icon-caret {
  transform: rotate(180deg);
}

.header {
  background-color: #FFE7E7;
  padding-bottom: 0.7rem;
}

ul.header_submenu {
  background-color: #fdfdfd;
}

details[open]>.header__menu-item span {
  color: #643843;
}

details.mega-menu {
  color: #643843;
}

ul.header_submenu .header__menu-item {
  color: #643843;
  text-decoration: none;
}

a.header__menu-item:hover {
  text-decoration: underline;
}

.icon.icon-hamburger, .icon.icon-close {
  width: 4%;
}

details:not([open]) > .header__icon--menu .icon-close,
details[open] > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}
.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 1;
  transform: scale(1.07);
}
.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
  visibility: visible;
}