.marquee-swiper {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  gap: 20px;
  width: max-content;
  will-change: transform;
}

.marquee-swiper::-webkit-scrollbar {
  display: none;
}

.marquee-swiper:not(.no-autoplay):not(.no-swiper) .swiper-wrapper {
  animation: marquee var(--marquee-duration) linear infinite;
  animation-play-state: running;
}

.marquee-swiper.no-autoplay {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.marquee-swiper.no-autoplay .swiper-wrapper {
  animation: none;
}

.stop-on-hover:hover .swiper-wrapper {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.swiper-slide img {
  max-width: 150px;
  height: auto;
}

@media screen and (min-width: 750px) {
  .marquee-swiper .swiper-wrapper {
    justify-content: center;
  }
}
