.brand-logos-main {
  padding-top: 1rem;
}
.brand-logos-main .brand-logo-container {
  overflow-x: hidden;
}
.brand-logos-main .brand-logo-container h2,
.brand-logos-main .brand-logo-container h3 {
  text-align: center;
}
.brand-logos-main .brand-logo-container .logo_description {
  text-align: center;
  margin: 0 auto;
}
.brand-logos-main .slider-swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brand-logos-main .swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

.brand-logos-main .swiper-slide img {
  border-radius: 5px;
  cursor: grab;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.brand-logos-main .swiper-slide img:active {
  cursor: grabbing;
}
.brand-logos-main .swiper-wrapper {
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition-timing-function: linear;
}

.brand-logos-main .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos-main .slider-swiper-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 1.5rem 0;
}
.brand-logos-main .brand__logo-swiper-container {
  border-top: 1px solid rgb(var(--color-text));
  border-bottom: 1px solid rgb(var(--color-text));
}
.brand-logos-main .slider-swiper-container.slider-full-width {
  max-width: 100%;
}
@media screen and (min-width: 750px) {
  .brand-logos-main .slider-swiper-container {
    padding: 3.125rem 2rem;
    max-width: 64rem;
  }
}
